@import "../global.scss";

.about {
  font-size: $base-size * 1.1;
  line-height: 1.4;
  position: relative;
  .row {
    justify-content: center;
    @include tablet-small {
      position: relative;
    }
  }
  .row:nth-child(2) {
    [class*="col-"]:nth-child(2) {
      height: 50%;
    }
    @include tablet-small {
      align-items: flex-end;
    }
  }
  .row:nth-child(3) {
    [class*="col-"]:nth-child(2) {
      height: 50%;
    }
  }
  [class*="col-"] {
    margin: 15px 5px;
    border: 6px solid $color-yellow;
    box-shadow: 10px 10px 20px -8px rgba(17, 17, 17, 0.55);
    background-color: $color-background;
    @include mobile-large {
      margin: 20px;
    }
    @include tablet-large {
      padding: 8px 20px;
    }
  }
  &_title {
    display: block;
    width: auto;
    z-index: 1;
    background-color: $color-background;
    font-size: $base-size * 1.2;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding-right: 15px;
    position: absolute;
    top: -14px;
    left: 18px;
    border-radius: 55px;
  }
  &_icon {
    color: $color-grey;
    margin-right: 10px;
  }
  &_text {
    margin-top: 16px;
  }
  &_text-list {
    padding-left: 20px;
    list-style-type: square;
  }
  &_curiosity {
    font-size: $base-size * 0.9;
    text-align: center;
    margin-top: 10px;
    @include tablet-small {
      width: 80%;
      margin: 20px auto;
      margin-top: 0;
    }
    @include tablet-large {
      width: 88%;
      font-size: $base-size * 1.2;
    }
  }
  &_star {
    font-size: $base-size * 1.2;
    @include tablet-large {
      font-size: $base-size * 1.4;
    }
  }
  @include tablet-large {
    font-size: $base-size * 1.4;
  }
}

//images
.mobile-line {
  position: absolute;
  left: 65%;
  top: 5%;
  height: 87%;
  @include tablet-small {
    display: none;
  }
}
.flag_start {
  margin-right: 20%;
  @include tablet-small {
    position: absolute;
    height: 50%;
    left: 6%;
    top: 2%;
    margin: 0;
  }
  @include tablet-large {
    left: 10%;
    top: 3%;
  }
  @include laptop {
    height: 55%;
    left: 13%;
    top: 1%;
  }
}
.point_now {
  margin-right: 20%;
  @include tablet-small {
    position: absolute;
    height: 50%;
    right: 16%;
    bottom: 4%;
    z-index: -1;
    margin: 0;
  }
  @include tablet-large {
    right: 17%;
    bottom: 3%;
  }
  @include laptop {
    height: 52%;
    right: 21%;
  }
}
