@import "../global.scss";

.about {
  font-size: $base-size * 1.1;
  line-height: 1.5;
  position: relative;
  @include tablet-large {
    font-size: $base-size * 1.2;
  }
  .row {
    justify-content: center;
    @include tablet-small {
      position: relative;
    }
  }
  .row:nth-child(2) {
    @include tablet-small {
      align-items: flex-end;
    }
  }
  [class*="col-"] {
    margin: 5px 15px;
    padding: 0;
  }
  &_title {
    @include title;
  }
  &_text {
    margin: 0 auto;
    padding: 15px;
    @include border-shadow;
    @include mobile-large {
      padding: 20px;
    }
  }
  &_text-list {
    padding-left: 20px;
    margin: 0;
    list-style-type: square;
    color: $color-text-light;
  }
  &_curiosity {
    font-size: $base-size * 0.9;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 90px;
    @include tablet-small {
      width: 80%;
      margin: 20px auto;
      margin-bottom: 100px;
    }
    @include tablet-large {
      width: 82%;
      font-size: $base-size * 1.1;
    }
  }
  &_star {
    font-size: $base-size * 1.2;
    @include tablet-large {
      font-size: $base-size * 1.4;
    }
  }
}

//images
.about_circles-left {
  @include circles-left;
  width: 12% !important;
  left: 4% !important;
  top: -2% !important;
  @include laptop {
    top: -3%;
  }
}
.about_circles-right {
  @include circles-right;
  width: 11% !important;
  right: 0 !important;
  top: 88% !important;
}
.flag_start {
  width: 66%;
  @include mobile-large {
    width: 45%;
  }
  @include tablet-small {
    position: absolute;
    height: 29%;
    left: 6%;
    top: 12%;
  }
  @include laptop {
    height: 34%;
  }
}
.point_now {
  width: 66%;
  margin-top: 15px;
  @include mobile-large {
    width: 45%;
  }
  @include tablet-small {
    position: absolute;
    height: 33%;
    right: 6%;
    bottom: 11%;
    margin: 0;
  }
  @include tablet-large {
    bottom: 8%;
  }
  @include laptop {
    height: 38%;
    bottom: 4%;
  }
}
