@import "../global.scss";

.contact {
  @include section;
  &_circles-left {
    @include circles-left;
  }
  &_circles-right {
    @include circles-right;
  }
  &_phone {
    @include circles-icon;
  }
  &_title {
    @include title;
  }
  &_socials {
    font-size: $base-size;
    margin-bottom: 20px;
    @include border-shadow;
    @include tablet-small {
      font-size: $base-size * 1.3;
    }
    @include tablet-large {
      font-size: $base-size * 1.4;
    }
  }
  &_social {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-size: $base-size * 4;
    color: $color-grey;
    &:hover {
      transition: $transition;
      color: $color-yellow;
      .contact_name {
        color: $color-text;
      }
    }
  }
  &_name {
    color: $color-text;
    font-size: $base-size * 1.2;
    padding: 10px 0;
    @include tablet-small {
      font-size: $base-size * 1.3;
    }
  }
}
