@import "../global.scss";

.home {
  @include section;
  margin-bottom: 20px;
  &_header {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
  }
  &_circles-side-left {
    @include circles-left;
  }
  &_circles-side-right {
    @include circles-right;
    top: 200px !important;
  }
  &_circle-left {
    position: absolute;
    width: 40vw;
    left: 12vw;
    z-index: -1;
    @include mobile-large {
      width: 30vw;
      left: 20vw;
    }
    @include tablet-small {
      width: 25vw;
      left: 23vw;
    }
    @include tablet-large {
      left: 20vw;
    }
    @include laptop {
      width: 200px;
      left: 230px;
    }
  }
  &_circle-right {
    position: absolute;
    width: 40vw;
    right: 12vw;
    z-index: -1;
    @include mobile-large {
      width: 30vw;
      right: 20vw;
    }
    @include tablet-small {
      width: 25vw;
      right: 23vw;
    }
    @include tablet-large {
      right: 20vw;
    }
    @include laptop {
      width: 200px;
      right: 230px;
    }
  }
  &_img {
    display: block;
    border-radius: 50%;
    width: 40vw;
    margin: 10px auto;
    box-shadow: -12px 12px 20px -10px rgba(17, 17, 17, 0.4);
    @include mobile-large {
      width: 30vw;
      margin-top: 20px;
    }
    @include tablet-small {
      width: 25vw;
      margin-top: 0;
    }
    @include laptop {
      width: 200px;
    }
  }
  &_sentence {
    padding: 0 15px;
    text-align: center;
    font-size: $base-size;
    font-style: italic;
    @include tablet-small {
      width: 415px;
      margin: 15px auto;
    }
    @include tablet-large {
      font-size: $base-size * 1.1;
    }
  }
  &_title {
    padding: 8px 10px;
    color: $color-text;
    font-size: $base-size * 1.6;
    font-weight: 600;
    letter-spacing: 1px;
    border-bottom: 6px solid $color-yellow;
    @include tablet-large {
      font-size: $base-size * 1.7;
    }
  }
  &_text {
    font-size: $base-size * 1.1;
    padding: 20px;
    margin: 10px auto;
    margin-bottom: 90px;
    text-align: justify;
    @include border-shadow;
    @include tablet-large {
      font-size: $base-size * 1.2;
    }
  }
}
