@import "../global.scss";

.portfolio {
  @include section;
  @include tablet-large {
    .portfolio_button:hover {
      background-color: $color-grey;
      color: $color-background;
    }
  }
  &_circles-left {
    @include circles-left;
  }
  &_circles-right {
    @include circles-right;
  }
  &_folder {
    @include circles-icon;
  }
  &_title {
    @include title;
  }
  &_projects {
    @include border-shadow;
    @include tablet-small {
      padding: 16px 0;
    }
  }
  &_projects:last-child {
    margin-bottom: 90px;
  }
  &_name {
    display: block;
    width: 85%;
    color: $color-text;
    font-size: $base-size * 1.3;
    font-weight: 600;
    margin: 0 auto;
    margin-bottom: 15px;
    border-bottom: 5px solid $color-grey;
  }
  .row {
    text-align: center;
  }
  [class*="col-"] {
    margin: 10px auto;
    color: $color-grey;
  }
  &_wrapper {
    position: relative;
    width: 85%;
    margin: 0 auto;
    margin-bottom: 60px;
    @include tablet-large {
      margin-bottom: 10px;
    }
    &:hover .portfolio_project {
      @include tablet-large {
        opacity: 0.6;
        filter: grayscale(0.8);
      }
    }
    &:hover .portfolio_middle {
      @include tablet-large {
        opacity: 1;
        top: 50%;
      }
    }
  }
  &_project {
    display: block;
    width: 100%;
    cursor: pointer;
    border: 5px solid;
    transition: $transition;
    backface-visibility: hidden;
  }
  &_middle {
    opacity: 1;
    position: absolute;
    top: 105%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    transition: $transition;
    @include mobile-large {
      top: 103%;
    }
    @include tablet-large {
      opacity: 0;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -40%);
    }
  }
  &_button {
    position: relative;
    font-size: $base-size * 1.2;
    font-weight: 600;
    color: $color-text-dark;
    background-color: $color-yellow;
    padding: 10px 15px;
    margin: 10px;
    transition: $transition;
    &:hover,
    &:visited {
      color: $color-text-dark;
    }
    @include tablet-large {
      font-size: $base-size * 1.6;
    }
  }

  &_desc {
    font-size: $base-size * 1.1;
    padding: 0 12px 0;
    @include tablet-small {
      font-size: $base-size * 1.2;
    }
    @include tablet-large {
      padding: 10px 35px 0;
    }
  }
}
