@import "../global.scss";

.main {
  flex-grow: 1;
  padding: 20px 0;
  position: relative;
  @include tablet-large {
    padding: 15px 0;
  }
}
.wrapper {
  position: absolute;
  top: 130px;
  right: 0;
  left: 0;
  @include mobile-large {
    margin-bottom: 85px;
  }
}
